{% extends 'layout/base.html' %}

{% block title %} Giỏ hàng {% endblock %}

{% block content %}
<br>
<h1 class="text-center text-info">GIỎ HÀNG</h1>

{% if 'cart' in session and session['cart'] %}
<!-- Nếu giỏ hàng tồn tại và không trống -->
<table class="table">
    <tr>
        <th>Mã sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Đơn giá</th>
        <th>Số lượng</th>
        <th></th>
    </tr>
    {% for c in session['cart'].values() %}
    <!-- Vòng lặp qua từng sản phẩm trong giỏ hàng -->
    <tr id="product{{ c.id }}">
        <td>{{ c.id }}</td>
        <td>{{ c.name }}</td>
        <td>{{ "{:,.0f}".format(c.price|float) }}</td>
        <td>
            <div class="form-group">
                <!-- Input để nhập số lượng sản phẩm, gọi hàm updateCart khi mất focus (onblur) -->
                <input type="number" min="1" onblur="updateCart('{{ c.id }}', this)" value="{{ c.quantity }}"
                    class="form-control">
            </div>
        </td>
        <td>
            <!-- Button để xóa sản phẩm, gọi hàm deleteCart -->
            <input type="button" value="Xóa" onclick="deleteCart('{{ c.id }}')" class="btn btn-danger">
        </td>
    </tr>
    {% endfor %}
</table>

<!-- Hiển thị tổng số lượng và tổng giá trị sản phẩm trong giỏ -->
<div class="alert alert-info">
    <h5>Tổng sản phẩm: <span class="cart-counter">{{ stats.total_quantity }}</span> </h5>
    <h5>Tổng tiền: <span id="total-amount">{{ "{:,.0f}".format(stats.total_amount) }}</span> ₫</h5>
</div>

{% if current_user.is_authenticated %}
<!-- Nếu người dùng đã đăng nhập, hiển thị nút thanh toán -->
<input type="button" value="Thanh toán" class="btn btn-success" onclick="pay()">
{% else %}
<!-- Nếu chưa đăng nhập, cung cấp liên kết để đăng nhập -->
<a href="{{ url_for('user_signin', next='cart') }}">Đăng nhập để thanh toán...</a>
{% endif %}
{% else %}
<!-- Nếu giỏ hàng trống -->
<p><i>Không có sản phẩm nào trong giỏ!!!</i></p>
{% endif %}
<br><br>
{% endblock %}