<nav class="navbar navbar-expand-md bg-light navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" width="70px">
    </a>

    <!-- Toggler/collapsible Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link {% if 'category_id' not in request.args %} active {% endif %}" href="/">Trang chủ</a>
            </li>
            {% for c in categories %}
            <li
                class="nav-item {% if 'category_id' in request.args and c.id == request.args.category_id|int %} active {% endif %}">
                <a class="nav-link" href="{{ url_for('home', category_id=c.id) }}">{{ c.name }}</a>
            </li>
            {% endfor %}
        </ul>

        <!-- Search form -->
        <form class="form-inline mx-auto">
            <input class="form-control" name="keyword" type="text" placeholder="Search...">
            <button class="btn btn-success" type="submit">Search</button>
        </form>

        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-info" href="{{ url_for('home') }}">
                    {% if current_user.avatar %}
                    <img src="{{ current_user.avatar }}" class="rounded-circle" width="30px" height="30px"
                        alt="{{ current_user.name }}">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/avatar.png') }}" class="rounded-circle" width="30px"
                        alt="{{ current_user.name }}">
                    {% endif %}
                    {{ current_user.name }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-success"
                href="{{ url_for('user_signout') }}">Đăng xuất</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-success" href="{{ url_for('cart') }}">
                    <i class="fa fa-shopping-cart" style="font-size: 35px; color: black"></i>
                    <span class="badge badge-info cart-counter">{{ cart_stats.total_quantity }}</span>
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link text-success" href="{{ url_for('user_signin') }}">
                    <i class="fa fa-user-circle" style="font-size: 35px; color: black"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-success" href="{{ url_for('cart') }}">
                    <i class="fa fa-shopping-cart" style="font-size: 35px; color: black"></i>
                    <span class="badge badge-info cart-counter">{{ cart_stats.total_quantity }}</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>